.vscode/**
.vscode-test/**
.gitignore
.gitattributes
vsc-extension-quickstart.md

# Fichiers ressources pour définir ce qu'il reste à faire
todos/**
algobox-ressources/**
images/documentation/*/hd/**
images/icon-base.png